<h1> SpringLAB @ Irvine </h1>

<div class="content">
  SpringLAB is established to foster an entrepreneurial culture in the Irvine/OC area. It aims to bring together hackers, students and aspiring entrepreneurs of all walks of life in a pursuit of understanding the methodologies of successful ventures, so when the opportunity comes for them to turn their ideas into reality, they will be prepared. We provide a simple framework for all of our entrepreneurs to follow, surround each aspiring entrepreneur with a community of like minded individuals, create a culture of excellence; offer the resources, coaching and tools necessary to venture forth and break the status quo.
</div>
