<!DOCTYPE html>
<html>
  <head>
    <title>SpringLAB</title>
    <meta name="description" content="Springlab">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
    <div id="container" class="container">
      <header>
      </header>
        <%= yield %>
      <footer>
      </footer>
    </div> <!--! end of #container -->
  </body>
</html>
